<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <!-- Including the manual Favicon icon. -->
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

  <!-- Including the Google Search Console tag. -->
  <meta name="google-site-verification" content="7vqw4skJQHZ6ntkPI5AebvOqa96Fj9YWZIVzAEH4sm4" />

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
